PORT=3000
SUPABASE_URL=
SUPABASE_KEY=
JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
SUPABASE_SERVICE_ROLE_KEY=

!--- NOTE ---! 
Pada AndroidManifest.xml direktori projek flutter
        <!-- Google Maps API Key - Replace with your actual API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="xxx" />