PORT=3000
SUPABASE_URL=https://uunnhdmcfcmgzqujianz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1bm5oZG1jZmNtZ3pxdWppYW56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0MDQ5NjEsImV4cCI6MjA4MDk4MDk2MX0.8ZRNMM1i7j4ANMex4KoNCiSb73uKG8aKbet0_0OKKtc
GEMINI_API_KEY=AIzaSyC9RiRuImIi4swUqfBCtNBHbwQAYBgiNs0
JWT_SECRET=APEcIkWmk12RXOP02Wzupmy0OMaaihPX7HiNmteMQaArEPsf9s/Z5RFnLMgj7akIIp/j03df2nAd9Voq0GlzAA==
